@using Syncfusion.EJ2
@* @using Syncfusion.EJ2 *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Resume1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Resume1.styles.css" asp-append-version="true" />
    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/24.2.3/material.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/24.2.3/dist/ej2.min.js"></script>
</head>
<body>
 
    <header>
        <div class="main-header" id="header-section">
            <ul class="header-list">
                <li class="float-left header-style icon-menu" id="hamburger" (click)="toggle()"></li>
                <li class="float-left header-style nav-pane"><b>Navigation Pane</b></li>
                <li class="header-style float-right support border-left"><b>Support</b></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <head>
        ...
        <!-- Syncfusion ASP.NET Core controls styles -->
        <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/25.1.35/material.css" />
        <!-- Syncfusion ASP.NET Core controls scripts -->
        <script src="https://cdn.syncfusion.com/ej2/25.1.35/dist/ej2.min.js"></script>
    </head>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Resume1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @Html.EJS().ScriptManager()
    @* @Html.EJS().ScriptManager()  *@
</body>
</html>
